        @font-face {
            font-family: PixelOperatorMono;
            src: url("../PixelOperatorMonoHB8.ttf");
    }
        @font-face {
            font-family: spongefont;
            src: url("../SomeTimeLater.otf");
    }
        .spongefont {
            font-family: spongefont;
    }
        canvas {
            image-rendering: pixelated;
            image-rendering: crisp-edges;
    }
        marquee img {
            /*background-color: #e6f2ff;
            border: 14px solid #b2d1f1;
            */
            padding: 0;
            margin: 0;
    }
        marquee p {
            margin: 0;
            padding: 0;
    }
        summary {
            color:aliceblue;
            -webkit-text-stroke: 1px #000;
        }
        body {
            font-family: 'PixelOperatorMono';font-size: 22px;
            background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20221125/pngtree-product-photography-studioan-abstract-gradient-purple-room-with-empty-space-for-product-showcasing-photo-image_41432652.jpg');
            background-size: cover;
            background-color: lightblue;

            margin: 0; /* Remove default margin */
            border: 14px solid #241e50; /* Thickness, style, color */
            padding: 0px; /* Space inside the border */
            min-height: 100vh; /* Ensure full height */
            box-sizing: content-box; /* Include border in total size */
    }
        h1 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        h2 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        h3 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        h4 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        p {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        ul {
            margin-bottom: 0;
            text-align: center;
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }   
        li {
            margin-bottom: 0;
            text-align: center;
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        footer {
            text-align: center;
            padding: 3px;
            --background-color: DarkSalmon;
            color: white;
    }
        a {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        html{
            cursor: url("../CURS.png"), auto;
        }