        @font-face {
            font-family: PixelOperatorMono;
            src: url("PixelOperatorMonoHB8.ttf");
    }
        canvas {
            image-rendering: pixelated;
            image-rendering: crisp-edges;
    }
        marquee img {
            /*background-color: #e6f2ff;
            border: 14px solid #b2d1f1;
            */
            padding: 0;
            margin: 0;
    }
        marquee p {
            margin: 0;
            padding: 0;
    }
        summary {
            color:aliceblue;
    }
        body {
            font-family: 'PixelOperatorMono';
            font-size: 28px;
            background-image: url('https://i.redd.it/lh1ot62c9off1.gif');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: lightblue;
            margin: 0;
			--display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			text-align: center;
            color: black;
    }

        h1 {
            color: aliceblue;
    }
        h2 {
            color: aliceblue;
    }
        h3 {
            color: aliceblue;
    }
        h4 {
            color: aliceblue;
    }
        p {
            color: aliceblue;
    }
        ul {
            color: aliceblue;
    }
        .warningTxt h1 {
            justify-content: center;
			align-items: center;
            display: inline-block;
            display: inline-block;
            -webkit-text-stroke: 1px #000;
    }
        .warningTxt h2 {
            justify-content: center;
			align-items: center;
            display: inline-block;
            display: inline-block;
            -webkit-text-stroke: 1px #000;
    }
        .warningTxt h3 {
            justify-content: center;
			align-items: center;
            display: inline-block;
            -webkit-text-stroke: 1px #000;
    }
        form {
            justify-content: center;
			align-items: center;
            display: inline-block;
            font-family: 'PixelOperatorMono';
            font-size: 28px;
            color: aliceblue;
    }
        input {
            justify-content: center;
			align-items: center;
            display: inline-block;
            font-family: 'PixelOperatorMono';
            font-size: 28px;
            color: rgb(0, 0, 0);
    }
        .collbutte {
            justify-content: center;
            animation: shake 0.150s ease-in-out infinite;
    }

        @keyframes shake {
            0%, 100% { transform: translateX(0) rotate(0deg); }
            25% { transform: translateX(-5px) rotate(-3deg); }
            75% { transform: translateX(5px) rotate(3deg); }
    }
        html{
            cursor: url("../CURS.png"), auto;
        }