        @font-face {
            font-family: PixelOperatorMono;
            src: url("../PixelOperatorMonoHB8.ttf");
    }
        @font-face {
            font-family: spongefont;
            src: url("../SomeTimeLater.otf");
    }
        .spongefont {
            font-family: spongefont;
    }
        canvas {
            image-rendering: pixelated;
            image-rendering: crisp-edges;
    }
        marquee img {
            /*background-color: #e6f2ff;
            border: 14px solid #b2d1f1;
            */
            padding: 0;
            margin: 0;
    }
        marquee p {
            margin: 0;
            padding: 0;
    }
        summary {
            color:aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        body {
            font-family: 'PixelOperatorMono';font-size: 22px;
            background-image: url('../images/fanart/crashygoonpocalypse.jpg');
            background-size: contain;
            background-color: #241e50;

            margin: 0; /* Remove default margin */
            border: 14px solid #9e2727; /* Thickness, style, color */
            padding: 0px; /* Space inside the border */
            min-height: 100vh; /* Ensure full height */
            box-sizing: content-box; /* Include border in total size */
    }
        h1 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        h2 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        h3 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        h4 {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        p {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        ul {
            margin-bottom: 0;
            text-align: center;
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }   
        li {
            margin-bottom: 0;
            text-align: center;
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }
        footer {
            text-align: center;
            padding: 3px;
            --background-color: DarkSalmon;
            color: white;
    }
        a {
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
    }

    .intro{
        font-family: 'spongefont';font-size: 62px;
    }
    html{
            cursor: url("../Website-Test/CURS.png"), auto;
        }